@model IEnumerable<EjemploMVC.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idConsulta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idConsulta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idConsulta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
